<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <EnvironmentVariables>
            <NOT_AGAIN_URL>http://localhost:5000</NOT_AGAIN_URL>
            <RERUN_TESTS_OLDER_THAN_DAYS>20</RERUN_TESTS_OLDER_THAN_DAYS>
        </EnvironmentVariables>
    </RunConfiguration>
</RunSettings>